# Snowflake
SNOWFLAKE_ORGANIZATION_NAME=YOUR_ORG_NAME
SNOWFLAKE_ACCOUNT_NAME=YOUR_ACCOUNT_NAME
SNOWFLAKE_USER=YOUR_EMAIL@example.com
SNOWFLAKE_AUTHENTICATOR=SNOWFLAKE_JWT
SNOWFLAKE_DATABASE=YOUR_DATABASE_NAME
SNOWFLAKE_SCHEMA=YOUR_SCHEMA_NAME
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_STAGE=YOUR_STAGE_NAME
SNOWFLAKE_WH=YOUR_WAREHOUSE_NAME
SNOWFLAKE_STREAMLIT_APP_PREFIX=YOUR_APP_PREFIX
SNOWFLAKE_COMPUTE_POOL=YOUR_COMPUTE_POOL
SNOWFLAKE_RUNTIME=YOUR_RUNTIME
SNOWFLAKE_EAI=YOUR_EAI

# AWS (aws-vaultを使わない場合に必須)
AWS_PROFILE=YOUR_AWS_PROFILE
# AWS (aws-vaultを使う場合に必須)
AWS_VAULT_PROFILE=YOUR_VAULT_PROFILE

